/*!---------------Variables---------------*/
:root {
  /*!---------------Fuentes---------------*/
  --font-poppins: 'Poppins', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
  --font-mono-space: monospace;
  /*!---------------Colores---------------*/
  
}